[2018-08-26 21:00] wimo7083 opened #1 "rename module folder"
from pyback to pybot.

[2018-09-15 04:16] #1 closed

[2018-09-17 17:34] wimo7083 opened #3 "Feature: Properly manage multiple token scopes"
Currently we have actions that require either a bot or app token. Some actions will require even higher permissions (admin).

We need to come up with a way to properly manage these to ensure that a failure of one token doesn't fail the whole application.

[2018-09-17 17:52] wimo7083 opened #4 "Feature: archive silent channels"
# Description

1. Archive channels that have had 30 days of no activity and are public.
2. No activity means no new messages.
3. 24 hours prior the channel will have a warning with an explanation.
4. This will be checked daily
5. The warning will not affect or stop the archiving
6. This will require administrative action and is reliant on Issue #3

# Purpose

This is to clean up the clutter for ne

[2018-09-17 17:57] wimo7083 opened #5 "Feature: Improve /here command"
# Description

Currently the `/here message` is pretty basic but it works.

![image](https://user-images.githubusercontent.com/10781353/45640627-677aba80-ba70-11e8-8a09-22e191fdccfc.png)

Currently we send a message to all users subscribed to the channel using a channel message and a thread for the indidivual users. This change would modify the behavior so that we can either use elevated `@here` `

[2018-09-17 18:01] wimo7083 opened #6 "Feature: Workspace level feature configuration"
# Description

1. Allow Workspace administrators to configure their workspace configurations for various tasks
2. This change would be the first step in allowing the application to support multiple workspaces.

An example:
On workspace XXXXXX, we want to archive channels after YYYY days of inactivity.

# Purpose

In addition to configuration, this would provide the ability to toggle on or off feat

[2018-09-17 18:09] wimo7083 opened #7 "Feature: Monitoring/ logging"
# Description

We have access to watchtower and sentry. We can be using these for better monitoring and logging.

1. Monitoring of specific scenarios through use of sentry.
2. Hook into Watchtower or something else to have easy access to the logs.

# Purpose

Post event trouble shooting, and alerting of issues.

[2018-09-17 18:12] wimo7083 opened #8 "Feature: Update Mentor matching"
# Description

Improve mentor alerts in the mentor channel to give more context.
1. If less than 3 values found for the mentor matched use the partial matching.
2. Display requested mentor
3. The username is determined by email, when a email-> username value is not found this provides an unclear value, make this better.

# Purpose

Provide a better experience for mentors.

[2018-09-17 18:19] wimo7083 opened #9 "Feature: Repeated text commands"
# Description

Slash command  that can be configured on a workspace level:
1. Various text that when requested will paste a message in that channel.

Ex:

`/repeat ask`
Will paste a generic (non-rude) text message with link to this: http://sol.gfxile.net/dontask.html

`/repeat 10000`
Will paste this link when a text message
https://xkcd.com/1053/

Make this configurable by workspace. With a templa

[2018-09-17 20:51] wimo7083 opened #11 "Feature: Setup Staging"
# Description

I'd love to be able to hook this into CI/CD for a staging on PRs or a specific branch tag. Have it connected to a test system and then be able to test things immediately.

# Purpose

Become more lazy, I mean more productive.

[2018-09-17 21:03] wimo7083 commented on #4
The Sir-bot-a-lot-2 framework provides a python scheduler library that might be helpful for us:
https://github.com/pyslackers/sir-bot-a-lot-2#plugins

[2018-09-17 23:17] wimo7083 commented on #9
Closed with #10

[2018-09-17 23:17] #9 closed

[2018-09-18 18:02] wimo7083 opened #12 "Feature: random quote slash command"
# Description

I'd love to be able to have a list of random quotes so I can have them post in the channel.

Maybe even include a fuzzy text search to find ones that match?

# Purpose

This would be interesting to get this.

[2018-09-18 19:50] wimo7083 opened #14 "Feature: Operation Code Challenge"
# Description

Slash command (using repeat? ) to list the operation code challenge people who completed the challenge along with a description of it.

[2018-09-19 22:01] AllenAnthes commented on #4
Agreed.  I originally included the scheduler in the rewrite but took it out since we didn't have an immediate use for it.  It'll be easy to hook back up.

[2018-09-29 23:15] wimo7083 commented on #11
This is taken care of. @AllenAnthes  any code merged to `staging` will automatically deploy.

Future:
document staging and what is effected.

[2018-09-29 23:15] #11 closed

[2018-10-01 15:55] wimo7083 opened #24 "Scrape reddit for potential new members"
One of our best ways of recruiting is @kylemh posting on reddit about us (and twitter, and etc).

We should leverage some of the tech we have to automatically find more people like this.

Here's a good example of a bot that allows you to post on multiple sub reddits when it finds a specific match.
https://github.com/HadManySons/AFexcuses
https://praw.readthedocs.io/en/latest/

This issue is to dis

[2018-10-01 16:45] wimo7083 commented on #24
[code]

[2018-10-02 20:41] wimo7083 opened #28 "PR bot for frontend"
This is a pretty big one, but working with @dmarchante  to get this done.

1. Incorporate [sirbot github](https://github.com/pyslackers/sir-bot-a-lot-2/tree/master/sirbot/plugins/github) plugin to pybot
2.  Create a service class that routes events from the github plugin
3. Setup logic within service class for pull-requests in frontend  to check for component changes
4. BUSINESS LOGIC: in componen

[2018-10-03 14:47] wimo7083 opened #29 "Make slash commands work in private messages"
Currently when a user tries to do a slash command in a private channel or a channel the bot doesn't have access to the response from slack is that the channel cannot be found.

This is due to the [dragons](https://api.slack.com/methods/chat.postMessage) in the api.

![image](https://user-images.githubusercontent.com/10781353/46418395-f6323d00-c6e8-11e8-8ba0-d80d98a477e1.png)

[2018-10-05 13:43] AllenAnthes commented on #7
What kind of scenarios are you thinking of?  Sentry already alerts us to any uncaught exceptions, so are you thinking of manually calling sentry in the event of us catching a particular exception?

Shouldn't be necessary as AWS ECS already does some magic to inject an adapter into the containers to hook them up to CloudWatch.

[2018-10-05 13:45] AllenAnthes commented on #8
1 and 2 are currently in staging.  Regarding 3 should we just display the email along with a message stating that a slack account couldn't be found?

[2018-10-08 16:08] wimo7083 opened #31 "Add Repeat for channel guide"
`/repeat channels`

should return a link to: https://github.com/OperationCode/operationcode_docs/blob/master/community/slack_channel_guide.md

[2018-10-12 14:05] utkarsh-42 commented on #31
Where do I add it?

[2018-10-13 23:39] wimo7083 commented on #31
Hey, @AshTemp created a fix for this and we merged but forgot to close the issue. I'm more than happen to walk you through what she did if you'd like to learn some more.

[2018-10-13 23:39] #31 closed

[2018-10-14 07:35] Mahafilac commented on #12
I love this Idea, how would I do a pull request to do this one 👍 💯

[2018-10-14 23:48] mega-mac-slice commented on #12
@Mahafilac @wimo7083 Let's go through a few example use cases:
#### Case: Random Famous Quote
`/repeat quote`
<img width="685" alt="screen shot 2018-10-14 at 5 24 52 pm" src="https://user-images.githubusercontent.com/25651292/46923554-88ceb800-cfd6-11e8-9725-2b2fcd698213.png">
[builder](https://api.slack.com/docs/messages/builder?msg=%7B%22text%22%3A%22%60%60%60Any%20fool%20can%20know.%20The%20poi

[2018-10-17 00:35] ksmacleod99 opened #33 "Feature: Job Announcement Bot"
## Description
An announcement that pops up in the job-board Slack channel when a new job is added to the 'Featured Jobs' section of the site.

## Purpose
Make members in the Slack aware of new job opportunities; but automate it because Kelly is lazy/garbage.

[2018-10-17 00:37] wimo7083 commented on #33
The BE Jobs thing in progress involves the following values in the schema:
https://github.com/OperationCode/operationcode_backend/pull/366/files#diff-1acd2e7e27a227829d5d14a91c863bb6R119

Are these the things you want the form to ask for?

[2018-10-17 00:38] ksmacleod99 commented on #33
Yes, perfect! The only other thing I could think of is a point of contact, but hopefully that would be in the 'source_url' already.

[2018-10-17 04:43] wimo7083 commented on #12
Hey guys sorry, I wasn't getting any notifications in \#feed-github.

I don't want to dictate how you do this too much, if you want partial string matching [aka fuzzy](https://marcobonzanini.com/2015/02/25/fuzzy-string-matching-in-python/) go ahead. If you want specific examples that's also great too.
I'd recommend you do this iteratively, start off with something simple and then progress to more

[2018-10-17 05:01] wimo7083 commented on #8
That sounds like a good compromise.

[2018-10-17 05:03] wimo7083 commented on #7
You know how we sometimes add those catch all exceptions because we don't know wtf we need to watch for. That's a good example.

Mainly I don't want to have to scroll through a billion health checks and have a better way of viewing logs so that I can reduce the cognitive burden (I'm lazy).

[2018-10-25 17:41] wimo7083 opened #35 "Log chat updates and deletes"
https://api.slack.com/events/message/message_deleted
https://api.slack.com/events/message/message_changed

I want to log when people update and delete messages so we can make operation code great again.

[2018-11-01 22:35] wimo7083 commented on #35
COMPLETED

[2018-11-01 22:35] #35 closed

[2018-11-03 20:09] AllenAnthes commented on #7
@wimo7083 With the recent changes do you feel we can close this?

[2018-11-03 20:10] AllenAnthes commented on #8
Completed.

[2018-11-03 20:10] #8 closed

[2018-11-04 01:04] wimo7083 opened #50 "Match Auth tokens to api names"
We use:
[code]

The api uses:
![image](https://user-images.githubusercontent.com/10781353/47958922-4b3cc980-df9b-11e8-88df-c9a2b35fd173.png)

Make it easier for someone to make a test slack and put the correct tokens in.

[2018-11-04 09:12] vyaspranjal33 opened #52 "add travis build badge"
travis ci badge should be added in readme

[2018-11-04 13:51] #52 closed

[2018-11-04 14:51] wimo7083 opened #54 "CI/ CD alerting"
When a new ECS instance is correctly deployed and receiving traffic send message to \#oc-python-projects informing of the status change.

[2018-11-04 14:54] AllenAnthes commented on #54
We'll need a workspace admin to add Travis to slack
https://operation-code.slack.com/apps/A0F81FP4N-travis-ci?next_id=0

[2018-11-04 15:00] wimo7083 commented on #7
Yeah things looking good, maybe in the future we add logging ingestion or figure out why the exceptions for sentry aren't getting sent to \#chatops. But I'm getting them in email.

[2018-11-04 15:01] wimo7083 commented on #54
It's been requested.

[2018-11-04 15:03] #7 closed

[2018-11-04 15:05] wimo7083 opened #55 "Slash command for requests"
`/ticket`

should open a slack interactive form that get's processed and piped to an admin/ tech lead channel.

This form has fields that allow the user to indicate the request type.
[code]
The new in chat request has a way of of individuals claiming the ticket, and buttons for:
`in progress`
`complete`
`waiting user request`
Which update like the other in slack messages.

The goal of this ticket

[2018-11-04 15:20] wimo7083 commented on #4
I have a script that will do both the alerting of potential archive and archive. Just need to configure it to say the correct things, hook into a job scheduler and include a new admin level token.

[2018-11-04 15:44] AllenAnthes commented on #54
Donezo

[2018-11-04 15:44] #54 closed

[2018-11-04 16:04] #14 closed

[2018-11-06 19:06] AllenAnthes commented on #55
Do we want/need this to be stateful?  If so we'd want to wire it up with pyback for persistence.

[2018-11-09 23:43] #50 closed

[2018-11-13 16:26] wimo7083 commented on #28
Steps taken:
1. I created an application using the [workspace settings](https://github.com/organizations/OperationCode/settings/profile)
2. Installed this on front-end repo
3. Added scopes subscribe to `opened` and `reopened`
4. I then exposed my local host using ngrok.
4. Installed the github plugin, and created handlers for pull requests.
5. Told github application to send verification request t

[2018-11-13 19:40] kylemh commented on #28
FWIW, you don't need to check for changes to CSS files 👍

[2019-02-26 16:43] wimo7083 opened #63 "Daily programmer"
Store daily programmer in some format. Ping general with the new daily event. Provide a reference to others so they can do them later.

[2019-03-04 20:25] ramalamadingdong commented on #63
The reference to other daily programmer right now this is being done by pinning the post is that how you want to keep it and just make a bot that pins it, or would you rather have it save it to something else like a webpage or google document or whatever?

[2019-03-04 21:01] wimo7083 commented on #63
Your call. Maybe save it in a text format. Or just save the links to them all

[2019-03-04 22:24] ramalamadingdong commented on #63
I got something together, it works on a test slack I made would you like me to merge it with your existing pybot?

[2019-04-06 19:23] juliantrueflynn opened #67 "Create Slack API routes that can be requested from Rails"
Update with Rails involves having PyBot handle more Slack API logic. Create API routes that Rails can make requests to.

API routes should have root of: `/api/v1/slack/`.

[2019-04-28 02:39] wimo7083 commented on #67
This is working and I can close.

[2019-04-28 02:39] #67 closed

[2019-04-28 02:40] wimo7083 opened #69 "Create an "official" test slack"
Now we are integrated with the rest of ecosystem we should make a formalized nice slack.

[2019-04-28 22:42] jack-robs opened #70 "Integrate featured jobs as part of the Town Crier"
TBD

[2019-04-29 15:15] AllenAnthes commented on #70
Town Crier isn't actually part of Pybot currently.  Although it could be, if there was a desire to consolidate our slack integrations.

[2019-04-29 15:31] AllenAnthes commented on #69
Created at https://operationcode-dev.slack.com

Anyone with an @operationcode.org email should be able to just join, anyone else can just request an invite.

[2019-04-29 15:43] AllenAnthes opened #71 "Move off Travis onto CircleCI"
Copying from front-end issue, since we're not cool enough for @jack-robs to open the issue here.

[2019-04-29 15:47] AllenAnthes commented on #69
Going to wait on closing this until we've actually moved the staging app over to the new workspace.

[2019-05-03 15:39] #71 closed

[2019-05-04 20:03] AllenAnthes commented on #69
Finished app migration/testing

[2019-05-04 20:03] #69 closed

[2019-05-05 23:05] wimo7083 opened #72 "Slack command !search"
`!search how to print line java` will look through stackoverflow or google for results and then post a link.

[2019-05-11 21:26] AllenAnthes opened #73 "Mentor Partial Matching Broken"
# Bug Report
## What is the current behavior?
When a new mentor request comes in with a combination of skillsets that aren't met by any mentors the bot no longer displays a list of partial matches.

## What is the expected behavior?
A list of mentors partially matching the requested skillsets should be displayed.

### Screenshots
![image](https://user-images.githubusercontent.com/27715246/57575073

[2019-05-18 14:30] #73 closed

[2019-05-26 12:43] JohnGoure commented on #24
I've started working on this. Can you assign it to me please?

[2019-05-26 12:47] JohnGoure commented on #24
Hey @wimo7083 I've started working on this. I'm putting together a python3 bot that uses Reddits API and Praw. I'll get it working on reddit first and then expand from there. I'd like to focus this project on either finding people or posting announcements.

[2019-05-26 16:21] kylemh commented on #24
I haven’t done this in awhile 😂

[2019-05-27 16:08] JohnGoure commented on #24
@kylemh haha slacking bro, guess thats why we need this bot. What do you usually look for when you promote OC? and what do you usually say?

[2019-05-27 19:24] kylemh commented on #24
Here are some examples. I think it's usually successful because it's organic and reactionary, but if we can automate this well, I'm all for it!

https://www.reddit.com/r/cscareerquestions/comments/6m8tvm/how_to_start_contributing_to_open_source_software/djzuwqv/

https://www.reddit.com/r/cscareerquestions/comments/6yx9x7/how_to_be_more_effective_in_my_contributions_to/dmrah7p/

https://www.reddit.

[2019-05-27 20:10] JohnGoure commented on #24
To stick with the organic approach, I can have email notification sent from the bot.
OC member registers email to receive notifications of reddit posts, that the OC member may be able to help someone on, leading to organic interactions, and avoid generic usually ignored bot posts.

[2019-05-31 19:13] LivingInSyn opened #82 "repeat command should be able to 'at' a user"
The repeat command should have the ability to 'at' a designated user, not just the person who called it
**Existing**
![image](https://user-images.githubusercontent.com/6341769/58729024-436cc880-83b6-11e9-85fa-009914f1a110.png)

**Proposed**
`/repeat channels @someone`

should produce:

`@someone: check out the channel guide (sent by: @sender)`

[2019-06-14 14:45] aaron-suarez opened #90 "Mentor Enrollment Form"
The Mentor Request form is available via the command `/mentor`. It would be nice to have the mentor enrollment form also be available via Slack. Perhaps it could be `/mentor-enroll` or `/mentor enroll`. In any case, it should have the same fields as the current enrollment form (https://op.co.de/mentor-enrollment) and should link up to airtable the same way.

[2019-06-14 15:47] AllenAnthes commented on #90
Extra details provided by @aaron-suarez

- new record should be created in mentor table on form submission
- bot should DM user with mentor program information after submission (content to be provided by @aaron-suarez )
- user should be invited to `mentors-internal` channel
- bot should announce new mentor in `mentors-internal` channel

[2019-06-17 16:03] AllenAnthes commented on #90
Implemented in [this commit](https://github.com/OperationCode/operationcode-pybot/commit/d755e3f5f8c0a16138baa3151db4341caa68abac)

[2019-06-17 16:03] #90 closed

[2019-06-22 15:48] hollomancer opened #91 "Location-based channel invitations on join"
## Relative Priority: MEDIUM
_As a user, I want to autojoin a Slack channel corresponding to my location when I join, so I know there is a local community associated with Operation Code that I can interact with._
# Product Requirements
* (MVP) Users on signup who have zipcodes associated with the DC area autojoin #dc.
* (Users on signup who have zipcodes associated with the NYC area autojoin #nyc.

[2019-06-22 15:48] hollomancer commented on #70
Creating a new issue to integrate Town Crier with Pybot.

[2019-06-22 15:48] #70 closed

[2019-06-22 15:49] hollomancer opened #92 "Integrate town-crier with pybot"
Right now, town-crier is a separate project from pybot that works off of Airtable.

We'd need to integrate town-crier, with some associated backend work to add the announcements and cronjob functionality.

[2019-06-22 15:50] hollomancer commented on #33
Depending on #92

[2019-06-22 15:51] hollomancer commented on #92
This could also use Contentful instead - we should probably discuss before any backend work happens.

[2019-06-22 20:35] hollomancer commented on #63
Heya, is there a PR associated with this issue?

[2019-06-22 20:36] hollomancer commented on #4
Where did we leave off with this one?

[2019-06-22 20:37] ramalamadingdong commented on #63
There is ... https://github.com/OperationCode/operationcode-pybot/pull/64

On Sat, Jun 22, 2019, 1:35 PM Conrad Hollomon <notifications@github.com>
wrote:

[2019-07-25 23:32] Digbigpig opened #100 "Engagement Leaderboards"
**Have a hiscores command to display slack and github metrics.**

This feature would:
- Award points to users for certain activities in slack. (1 point for messaging, 5 points for introducing new members, etc)
- Award points for GitHub actions (Merged PR - 50 points, comment - 1 point, etc)
- Display a rolling monthly hiscore list. It could also give achievements for "Most Helpful - Most active in

[2019-07-31 12:23] datphotogurl opened #102 "Extract data for most replied to topics"
As a request from the Marketing Team, we would like to extract the most replied to topics within a channel on a monthly basis for inclusion in our newsletter and also for public engagement purposes. There may be an inconclusive data extract if users do not reply to a thread, but reply as a single post.

Data extraction via top key words may also be used.  Thank you all who contribute!

[2019-09-18 23:09] hollomancer opened #108 "Add button to #greetings for a 1:1 conversation"
Right now, our bot has a button to claim a new user for greeting.

I would like to add a second button, for a user to also claim a 1:1 conversation (a DM)

So, next to "I will greet them!", would be "I will DM them!"

[2019-09-25 17:43] ivanmartinezmorales commented on #100
Would this be similar to using the Karma bot for Slack?

[2019-09-27 14:05] brownnrl opened #110 "Extend pybot API for user invitations so that military status is conveyed."
Cross link between [back end issue 47](https://github.com/OperationCode/back-end/issues/47).

The back end optionally passes the military status info to pybot, pybot has an association of military status to channel ID, and submits that with the optional parameters of the undocumented slack api call [users.admin.invite](https://github.com/ErikKalkoken/slackApiDoc/blob/master/users.admin.invite.md)

[2019-10-01 01:57] the-bose commented on #72
Hello, I would like to work on this

[2019-10-09 21:16] NestorSegura commented on #108
Hello together.. I would like to help solving this issue.. could you provide a little more context? where does this bot take place?

[2019-11-27 02:46] togakangaroo opened #138 "Non-veterans seeking mentoring can be confused when doing `/mentor` as it doesn't present an option for them"
[From Slack](https://operation-code.slack.com/archives/C04D6M3JT/p1574817899404600)

Suggested solution: add an option

[2020-04-23 22:06] aaron-suarez opened #164 "For `/mentor` command, Additional Details should be required"
When a mentor request comes in without additional details, it's very difficult for mentors to know if they are able to help with the request. This field should be required.

[2020-05-08 17:41] togakangaroo opened #167 "A bot that will auto-reply to anything that looks like unformatted code with guidance on how to format"
Problem:

We tend to have people posting often who don't know the three main ways to format code on slack. A bot to help them do this properly would save everyone some time and annoyance. Plus it should be fun to code.

This bot will activate when there is a post where a subset of the lines contains something that looks like code but is not formatted as such

So how to determine if something looks

[2020-05-08 17:42] togakangaroo commented on #167
I bet if you do it as a standalone bot, other slacks would love something like that. Good OSS project overal

[2020-05-08 17:47] LivingInSyn commented on #167
Pygments might be a good fit since we're already mostly python:

https://pygments.org/docs/api/#pygments.lexers.guess_lexer

[2020-05-14 19:19] dependabot-preview[bot] opened #170 "Dependabot can't resolve your Python dependency files"
Dependabot can't resolve your Python dependency files.

As a result, Dependabot couldn't update your dependencies.

The error Dependabot encountered was:

[code]

If you think the above is an error on Dependabot's side please don't hesitate to get in touch - we'll do whatever we can to fix it.

[View the update logs](https://app.dependabot.com/accounts/OperationCode/update-logs/33207808).

[2020-05-15 17:27] #170 closed

[2020-05-27 01:36] aaron-suarez opened #176 "Rate limit on mentor requests"
There exists a possibility that someone could put in a ridiculous amount of mentor requests, pinging the same mentors over and over again. Mentors would possibly then be encouraged to just mute the #mentors-internal channel, which would stop legitimate mentor requests from being answered in a timely fashion.

A rate limit should exist so that a given user can only put in a limited amount of mentor

[2020-05-27 14:30] ghyde commented on #176
When a mentor request is made, I think there should also be a message like,

[code]

This will provide a good user experience by letting them know:

1. There is a limit to mentor requests.
2. How many they have remaining.

[2020-05-27 16:30] aaron-suarez commented on #176
I like that, that does improve the user experience. Also documenting this feedback from slack here:

[2020-05-30 16:16] hollomancer commented on #108
Update on this - the two buttons can be "Claim #general greeting" and "Claim DM greeting".

[2020-06-23 22:51] datphotogurl opened #183 "#Greetings channel needs a "I Will DM" button"
**New functionality request**
Please create an "I Will DM" button for the Outreach Team to mash once they DM a new member.

**Why**
Outreach Team will be initial POC's for Operation Code. This reduces dropout rate, increases retention and engagement, and provides a link between the new member and mentors.

**How This Will Be Used**
Greeters can still mash the "I Will Greet" button and greet the ne

[2020-06-26 15:21] hollomancer commented on #108
Replacing with #183

[2020-06-26 15:21] #108 closed

[2020-06-26 15:21] hollomancer commented on #183
@mikerod_sd mentioned that Slack workflows may be another way to do this

[2020-06-27 19:33] Lianis-Operations opened #184 "Feature request: Survey Slash Command"
Create new / command on Pybot called “survey-member”. The command should send a DM explaining to the user why we collect the information that we do and beg them to click a link which navigates to “survey” page.

This is related to issue https://github.com/OperationCode/back-end/issues/347 in the back-end repo.

[2020-07-06 00:30] aaron-suarez opened #187 "Change resources.yml to resources page"
The [Operation Code Resources Page](https://operationcode.org/resources) is now live and functional. We should link to that from the `/repeat resources` command.

https://github.com/OperationCode/operationcode-pybot/blob/962238da44d8bb4f719dfddd6521c1fc35791cf0/pybot/endpoints/slack/utils/slash_repeat.py#L7-L9

This should link to https://operationcode.org/resources

It should be titled "A searcha

[2020-07-06 01:52] Adeola-Adesoba commented on #187
Hi,
I completed a Pull request to make the changes but it went to staging. Is that the branch you will like to see the request submitted to? I will like to help and not sure if I did the right thing.

Thank you.

[2020-07-06 02:49] aaron-suarez commented on #187
Yes, staging is correct. For this particular repo, we like to test it out in a staging environment before deploying. I believe there's CI/CD set up to automatically deploy to production when it's merged to master, so we have PRs go to staging as a stop-gap

[2020-07-06 02:50] aaron-suarez commented on #187
Also, we don't generally merge our own PRs around here, it probably would have been a good idea to wait for either myself or @AllenAnthes to review it before merging it to staging

[2020-07-06 02:53] aaron-suarez commented on #187
Ah, I just looked at your PR a little closer. You'll want to open one against the main repo (i.e., https://github.com/OperationCode/operationcode-pybot). It looks like you opened it up against your fork (https://github.com/Adeola-Adesoba/operationcode-pybot).

If you need some help opening up a PR, let me know and we can get you squared away

[2020-07-06 17:58] Adeola-Adesoba commented on #187
Oh, I see. Thank you for taking the time review it.

Let me make the changes.

[2020-07-06 18:06] aaron-suarez commented on #187
Are you on our slack team @Adeola-Adesoba? If so, message me (I'm `@Raz0r` on there). If not, sign up at https://operationcode.org/join and we can set aside some time for a slack call and we can go over some of the finer points 😄

[2020-07-06 18:10] Adeola-Adesoba commented on #187
Ok, I will sign up. I am already on it though. I realized what you meant by "It looks like you opened it up against your fork (https://github.com/Adeola-Adesoba/operationcode-pybot)." I will make a PR soon. Thank you.

[2020-07-06 18:20] Adeola-Adesoba commented on #187
This worked right?

[2020-07-06 20:42] aaron-suarez commented on #187
Yup, the new PR is in the right place, thanks! We'll take a look and let you know if anything needs to change before we merge, but it looks good to me so far

[2020-07-06 22:15] Adeola-Adesoba commented on #187
Thank you Aaron.

[2020-07-07 17:40] togakangaroo opened #189 "daily-programmer pin manager bot"
[See this thread for background](https://operation-code.slack.com/archives/C7JMZ5LAV/p1594136828107500)

Slack channels can only have 100 pins. But we pin all problems in the #daily-programmer channel. @kevinkiklee has to manage these manually.

Create a bot that when it runs
1. Unpins the  100th pinned post in #daily-programmer (if there is one)
2. Adds a link to it along with its title (there's

[2020-09-17 15:50] #187 closed

[2020-09-24 13:09] dependabot-preview[bot] opened #211 "Dependabot couldn't authenticate with https://pypi.python.org/simple/"
Dependabot couldn't authenticate with https://pypi.python.org/simple/.

You can provide authentication details in your [Dependabot dashboard](https://app.dependabot.com/accounts/OperationCode) by clicking into the account menu (in the top right) and selecting 'Config variables'.

[View the update logs](https://app.dependabot.com/accounts/OperationCode/update-logs/48478556).

[2020-09-25 13:19] #211 closed

[2020-09-27 22:48] kylemh opened #213 "Remove /ticket command"
Located: https://github.com/OperationCode/operationcode-pybot/blob/staging/pybot/endpoints/slack/commands.py#L67

Please remove the command and any modules/code that goes unused after that command's removal.

[2020-09-29 12:48] cwille97 commented on #184
I'd love to implement this feature. I'll submit a PR on the morning of the 1st :)

[2020-09-30 16:51] aaron-suarez opened #217 "Slack Invite Error should go to Ops channel instead of moderator channel"
When an error inviting a user to slack is encountered, it's really up to the staff to handle that rather than the moderators. The error is currently defined here
https://github.com/OperationCode/operationcode-pybot/blob/962238da44d8bb4f719dfddd6521c1fc35791cf0/pybot/endpoints/api/utils.py#L79

Instead, it should go to the Ops channel, which is currently named #oc-ops. I don't think this currently

[2020-10-01 09:45] vatsalsharma376 commented on #213
I made a pull request for this issue.

[2020-10-01 09:51] kylemh commented on #213
Awesome! I've marked a reviewer.

[2020-10-01 12:39] wskinner74 commented on #217
I would love to work on this if no one's grabbed it yet!

[2020-10-02 14:39] #213 closed

[2020-10-02 17:45] trynnaBeADev commented on #102
Can I look work on this

[2020-10-03 18:47] chawdamrunal opened #224 "Inheriting 'MutableMapping', which is not a class."
source : pybot/plugins/api/request.py

8.  class SlackApiRequest(MutableMapping):

Python classes can only inherit from a class. Inheriting from any other object is an error.

[2020-10-03 18:48] chawdamrunal commented on #224
###Hacktoberfest

[2020-10-03 19:30] AllenAnthes commented on #224
If `MutableMapping` isn't a class, what is it?

[2020-10-03 20:55] harjyotbagga commented on #72
Hey, I would like to try and resolve this issue, by adding the !search command. Request you to assign it to me.
Since I'm just starting out with open source, it'd be great if you could give me a week's time, to solve this issue with a PR. :smile:

[2020-10-04 19:58] aaron-suarez commented on #102
Go for it, @trynnaBeADev !

[2020-10-04 20:05] aaron-suarez commented on #224
Looks like a class to me https://github.com/python/typing/blob/15e5396d2e210326bbbe98384fb330d51e08ae21/src/typing.py#L1867

[2020-10-04 20:06] aaron-suarez commented on #72
@harjyotbagga We'd love the help. If you have any questions, let us know!

[2020-10-04 20:12] #217 closed

[2020-10-04 20:18] harjyotbagga commented on #72
Thanks for the positive response! :smile:  I've started working on it. Please assign this issue to me. I'll get back in a couple of days.

[2020-10-05 02:06] #138 closed

[2020-10-05 02:06] #164 closed

[2020-10-05 21:24] harjyotbagga commented on #72
@aaron-suarez I needed a bit of help.
I followed all the steps in the readme.
- [x] Made a slack app and integrated it into my workspace.
- [x]  Updated the pybot.env variables, using the Secret code and the O-Auth token from the Slack app.
- [x] Installed all dependencies and was able to successfully run the bot on the localhost.
- [x] Made my localhost open to the public using ngrok.
- [x] To te

[2020-10-05 21:32] aaron-suarez commented on #72
Oh weird, so the bot itself is producing a 401? What happens when you hit it manually (with like Postman or curl, rather than going through slack)?

[2020-10-06 10:04] wskinner74 commented on #176
I'm still fairly new to the world of slack bot scripting, so forgive my noobish question. When it comes to features like this, is there an easy way for the bot to track exactly how many times a particular user has used a feature in a given time period? Or would a backend tracker have be built that adds a counter to the user each time the mentor request is used?

[2020-10-06 13:57] aaron-suarez commented on #176
Since we're using Airtable to track the requests, I imagine you could just pull the data from airtable and then analyze it to see if they've hit the limit. From a UX perspective, we want to let the user know how many they have left, so you'll need to put this logic in the right place to be able to do that

[2020-10-06 14:05] wskinner74 commented on #176
Ah that makes sense, thanks for the info :)

[2020-10-07 19:05] harjyotbagga commented on #72
I have tried sending the request via Postman. I made an OAuth2.0 authentication token by reading the Slack App docs and sent a POST request to https://df94f7be0da7.ngrok.io/slack/commands?command=roll after I updated the slash command request URL in the slack app dashboard.
I got a 500 Server Internal Error that looks something like,
![pybot-err](https://user-images.githubusercontent.com/41704209/

[2020-10-07 19:32] jasonappah commented on #167
I'd like to give this a shot!

[2020-10-07 21:44] aaron-suarez commented on #167
Go for it @jasonappah! Happy to see what you come up with.

[2020-10-07 21:46] aaron-suarez commented on #72
If you join our slack team at https://operationcode.org/join I'd be happy to set up a slack call and pair with you on troubleshooting it. I don't know from just looking at it what the problem could be.

[2020-10-08 01:45] ptrstr commented on #82
Could I be assigned to this? Thanks!

[2020-10-08 21:22] aaron-suarez opened #230 "Link to new form for `/mentor-volunteer`"
We're now using this form for signups for mentorship https://op.co.de/volunteer-signup

When someone uses the `/mentor-volunteer` command, the bot should send them a message linking to that form saying "Please fill out the form at https://op.co.de/volunteer-signup" rather than letting them fill in their skillsets right then and there.

[2020-10-09 18:00] #230 closed

[2020-10-09 22:21] aaron-suarez commented on #72
I just got the `/roll failed with the error "dispatch_failed"` error on my slack workspace as well... I'm wondering if this warrants an issue. @AllenAnthes when you get a chance can you check and see if you also get this error?

[2020-10-09 22:22] aaron-suarez commented on #72
Note, it does not happen on prod right now (which is good). I wonder if it's something that we introduced recently...

[2020-10-09 22:24] aaron-suarez commented on #72
I think it might be related to https://github.com/OperationCode/operationcode-pybot/pull/227. @livinginsyn did you ever see this `"dispatch_failed"` situation when you were working on the issue?

[2020-10-09 22:29] LivingInSyn commented on #72
Little chance it was this change. All I did was change a n+1 to n

On Fri, Oct 9, 2020 at 6:26 PM Aaron Suarez <notifications@github.com>
wrote:

[2020-10-09 22:32] aaron-suarez commented on #72
I noticed that we merged that to master directly and our branches are based on staging, so it's true, it's not due to #227... Perhaps another recent change. I'll dig deeper when I have a chance, I'm not sure I'll be able to right now

[2020-10-09 22:47] aaron-suarez commented on #72
I was able to resolve it by making sure that the right `ngrok` url was in, and that my bot was running correctly. So I'm thinking it might be an issue like that @harjyotbagga

[2020-10-13 17:33] datphotogurl commented on #183
@kylemh I'm gonna close this issue. It has been resolved via Mike Rod for Outreach channel.

[2020-10-13 17:33] #183 closed

[2020-10-14 12:43] 73VW commented on #189
Hey!
I would like to help on this issue.
Could you give me a few more infos?
Maybe add me on slack and talk there?

[2020-10-14 12:50] aaron-suarez commented on #189
Sure @73VW. Just go to https://operationcode.org/join and you'll automatically be sent an invitation to slack. Once there check out #daily-programmer to see what that channel is about and we can chat (I'm `@Raz0r` on there)

[2020-10-14 17:58] togakangaroo commented on #189
Replied to questions on slack, but will post here as well

I have no idea what the difference is. What is it? Pluses and minuses? Doesn’t a bot need someone to trigger it via a slash command? If so this will not work for this.

Storage technology to store what? The only thing we would actually need to store are dates, titles, and urls. We don’t need to show them in a very dynamic format. I don’t t

[2020-10-18 17:56] platipo commented on #12
Hi everyone, I would like to work on this if nobody is already doing it!

[2020-10-18 22:43] chynh commented on #176
Hey @wskinner74 , are you actively working on this issue? If now, I'd like to give it a shot.

[2020-10-19 00:10] wskinner74 commented on #176
@chynh I'm not actively working on it, feel free to run with it!

[2020-10-19 16:21] chynh commented on #176
@aaron-suarez Would you be able to provide me with an airtable api key so I can work on this? Also, was wondering if you could add a new column to this table as that is a part of the solution that I had in mind.

[2020-10-19 22:53] aaron-suarez commented on #176
@chynh I'd prefer not to give an airtable API key to production for development purposes. I think I can make you a copy of a staging table and you can do whatever you want with your own copy of the table. I just want to make sure all actual PII has been removed, so give me a bit to look into that.

Thanks for your efforts here!

[2020-10-20 00:25] chynh commented on #176
@aaron-suarez Makes sense. As long as there's something I can work with. I think I would have to come up with a workaround in the end since I know submitting mentor request would query mentor table as well.

[2020-10-20 19:43] aaron-suarez commented on #176
@sairina is helping me scrub PII out of the table so we can make a copy for you. Once we have that complete, we'll connect with you to give you access to the dev table. Thanks for your patience on this!

[2020-10-21 17:07] aaron-suarez commented on #176
@chynh Thanks to @sairina we now have a version of the table that is PII free! 🙌

If you can connect with me on slack or over email, I can invite you to that airtable base and you can get the API key and start working on this issue 😄

[2020-10-28 09:30] 73VW commented on #189
Hello guys,

As the python framework for Slack is not very well documented it took me a bit of time to make progresses but here I am.

You can give a look at [this repo](https://github.com/73VW/Daily-Programmer-Bot).

The bot is now able to list all daily programmer challenges through a slash command and write them in a markdown file. I still couldn't find a way to make it automated at bot startup

[2020-10-29 18:34] #82 closed

[2020-10-29 19:33] 73VW commented on #189
Hello everyone,

Second update!

The bot is now able to fetch channel history and list challenges at startup! 🎉

It also updates my [gh-pages branch]( 73vw.github.io/daily-programmer-bot/ ) everytime it lists challenges or when a new challenge is sent in the channel 🎉
(Everything happens for the moment in my personal Slack server)

What's next? Do you want to deploy it and try to use it for real?

[2020-11-01 19:24] aaron-suarez commented on #189
@73VW If you open a PR, I'll be happy to review. Be sure to put your changes in a separate branch from `staging` so I can pull it down and run it in my local environment.

[2020-11-04 09:07] 73VW commented on #189
@aaron-suarez I will open a PR but we have to find a way to grant you access to my bot's Slack API page. As suggested in the doc, I have used ngrok to run it locally and if you do so, you have to change the link in the settings everytime you restart ngrok. You also need to have access to the access tokens page.

[2020-11-04 13:10] aaron-suarez commented on #189
I know that working with slackbot is a pain. I have my own local environment set up, and I will pull down your branch and run it in my own slack dev workspace. If you hard coded something that makes it only work with your workspace, that will be a problem in production as much as it is in my dev instance, so better to find out now. I'll comment on it if I run into issues

[2020-11-24 18:50] calincionca35 opened #252 "OC-pybot Welcome Message"
Please consider adding the following message to the OC-pybot.
This would be the first message sent to every new member upon joining Operation Code's Slack Community.
Tagging @datphotogurl for approval.

"Welcome to Operation Code's Slack Community, we're glad you're here! Please share with us in #general what brings you to Operation Code, and how we can assist you. Also, consider adding to your Op

[2020-11-24 19:28] datphotogurl commented on #252
Added links to social media and Github accounts. Approved content for implementation @kylemh @aaron-suarez

[2020-12-22 02:41] aaron-suarez commented on #252
@calincionca35 do you want to give this a shot? Pybot development is not for the faint of heart, but this seems like it would just be a text change to an existing message, right?

[2020-12-22 03:22] calincionca35 commented on #252
@aaron-suarez I don't know Python. Maybe somebody who knows Python can do this.

[2021-03-16 22:51] Lianis-Operations opened #274 "Add "Intro to Slack" video to pop up on Slackbot"
# Associated with #1414 front-end

Link to the tutorial: https://youtu.be/m2JuAa6-ors

[2021-03-17 18:12] aleforniadreamin opened #275 "Add FAQ to OC Pybot"
Since Operation Code continues to grow in popularity/size it would be cool to help streamline the welcoming process and help prevent the volunteers from being overwhelmed with greeting everyone. I notice the trend in new members asking the same questions which result in the volunteers answering the same question over and over. I propose that we utilize the Slackbot or OC Slackbot to greet the new

[2021-03-17 18:21] calincionca35 commented on #275
Maybe this could be combined with #252

[2021-06-09 21:45] groovu commented on #252
@aaron-suarez Hi Aaron!  I'd like to take a shot at this.  It looks like all that needs to be done is to create a function that returns this message in event_messages.py and to add it the build_messages method in event_utils.py.

Or should this message replace team_join_initial_message?

[2021-06-10 01:24] aaron-suarez commented on #252
Hey @groovu! I believe that the verbiage above is meant to replace the `team_join_initial_message`. Go ahead and make the change there. Then I'll review+merge and we'll test out in staging and if everything looks good then we'll deploy to production.

@AllenAnthes, are we still set up to test on staging? I don't really want to have to set a local environment back up just for a text-only change. Bu

[2021-06-25 21:17] ancipolla opened #301 "acknowledgement for /report command"
Do I write this like a user story?

As an Operation Code community member, I want to receive an acknowledgement when my /report command is successfully sent so that I know that the thing I reported actually went to the mod channel.

[2021-07-06 02:04] datphotogurl opened #302 "Automatic Response for Mentor Requests"
I would like to request a Slackbot response to members who request mentorship via the /mentor command. Suggested wording:

_Thank you for requesting a mentor. Mentors are typically available Monday to Friday and on non-holidays. Responses may be slower on weekends. Once a mentor accepts your request, you will be receive a Direct Message to schedule a convenient time for both parties to convene. Th

[2021-08-13 16:16] datphotogurl opened #325 "New Commands for Support Channels"
### Create New Command Rules for Support Channels
There are two private support channels: #operation-pride and #Blacks-In-Tech on OC's Slack. A suggested command is needed so new and existing members can safely request to join these channels.

1. Create a `/pride` command that allows the member to click "Do you want to join the #operation-pride channel? Click the `Request` button to request to joi

[2021-08-18 21:25] aaron-suarez commented on #3
I believe this API has been deprecated. We can re-open or open a new issue if we discover any problems

[2021-08-18 21:25] #3 closed

[2021-08-18 21:32] aaron-suarez commented on #6
Too vague. If someone wants to clarify and/or provide history and actionable instructions about which configurations and which tasks, we can come back to it.

[2021-08-18 21:32] #6 closed

[2021-08-18 21:34] aaron-suarez commented on #12
If anyone wants this functionality, feel free to open a PR. We do not feel like this is important enough to keep on the backlog when we start to ramp up development on this over the next few months.

[2021-08-18 21:34] #12 closed

[2021-08-18 21:36] aaron-suarez commented on #5
Do we want to do this? Will leave "question" until we find out

[2021-08-18 21:39] aaron-suarez commented on #28
@kylemh Can you please clarify whether this is still needed? If so, I'd like to talk about the specifics of the problem we're trying to solve.

[2021-08-18 21:40] aaron-suarez commented on #29
This Slack API has been updated and this is no longer relevant.

[2021-08-18 21:40] #29 closed

[2021-08-18 21:47] aaron-suarez commented on #92
We ended up getting another bot to do this. We can re-open this if that stops meeting our needs effectively

[2021-08-18 21:47] #92 closed

[2021-08-18 21:55] JudsonStevens commented on #102
@aaron-suarez and I were discussing this one and think this information in an email to the marketing team would be a good approach. That would be some identifiable information for the post so they can manually look at it and decide whether to include it.

[2021-08-18 22:02] JudsonStevens commented on #110
@kylemh @hollomancer - I'm missing some context here; Aaron and I think there has been some discussion around putting this into the initial form users fill out to even get the first invitation. Is that a viable route or do we still want to prioritize this and the related backend issue?

[2021-08-18 22:02] aaron-suarez commented on #184
I don't see a PR for this. I presume it must have been closed. That being said, this is still available unless @cwille97 has anything to add as far as history here.

[2021-08-18 22:03] #224 closed

[2021-08-18 22:04] aaron-suarez commented on #252
Fixed by #311

[2021-08-18 22:04] #252 closed

[2021-08-18 22:05] JudsonStevens commented on #274
Closed by PR #311.

[2021-08-18 22:05] #274 closed

[2021-08-18 22:07] aaron-suarez commented on #275
We have a "How to use slack" welcome message based on #311 so this should be fine to close now. If we're still lacking, please open a new issue with the specifics

[2021-08-18 22:07] #275 closed

[2021-08-18 22:11] JudsonStevens commented on #325
This functionality will be very similar to the functionality of the greeter response or the mentor request response.

[2021-08-19 01:51] kylemh commented on #28
Don't think it's needed

[2021-08-19 01:53] kylemh commented on #110
Out of the loop as well. We collect that info during reg but don't verify

[2021-08-19 16:05] #28 closed

[2021-09-29 21:38] aaron-suarez commented on #4
We're going to do this manually for now, but we can look back into this if we need to

[2021-09-29 21:38] #4 closed

[2021-09-29 21:40] aaron-suarez commented on #5
Closed due to lack of demand and also security concerns.

[2021-09-29 21:40] #5 closed

[2021-09-29 21:44] aaron-suarez commented on #24
This is going to be a part of a larger initiative to engage reddit "correctly". To that end, we want to take a more manual approach and not start with the API. We'll reopen when it's relevant

[2021-09-29 21:44] #24 closed

[2021-09-29 21:46] aaron-suarez commented on #33
This no longer makes sense for our organization in the current climate. We can reopen this eventually if we need to

[2021-09-29 21:46] #33 closed

[2021-09-29 21:56] aaron-suarez commented on #91
Let's be very specific about which city or location is the first channel

[2021-10-18 18:15] aaron-suarez opened #336 "Mentor Bot Message Thread Improvements"
There's a column called `Active` in the Airtable database for the Mentors table. It is up to date with a checkbox of whether the mentor is active. If they are not active, then pybot should not attempt to tag them in the "Mentors matching all or some of the requested skillsets" message.

Also, while we're in here, if we're messing with who gets tagged: We should tag @mentor-coordinators if there ar

[2021-10-18 18:17] aaron-suarez opened #337 "Requestor Affiliation broken"
Every time a request is submitted, the `Requestor Affiliation` that shows up in the message in #mentors-internal is "None". It should be impossible for a user to skip past this question in their form, and it should include their answer in the message in mentors-internal.

[2021-12-15 22:30] aaron-suarez commented on #325
@JohnathanBaldera I'm going to be working on this on Friday, Dec 17th. If you'd like to join, let me know via slack. If you're not in our slack workspace, sign up at https://operationcode.org/join and you'll receive an invitation. I'm `@raz0r` on there

[2021-12-15 22:39] aaron-suarez commented on #184
Current form https://docs.google.com/forms/d/e/1FAIpQLSdTYeywwBG5kxto-Uw59jTU-h7tvN9rGALi_2EtycWUKK8UBw/viewform

[2021-12-15 22:40] aaron-suarez commented on #301
While we're in there... see if this can also work in threads

[2021-12-17 21:01] aaron-suarez commented on #184
Setting this up with `/remind`

[2021-12-17 21:01] #184 closed

[2021-12-17 21:26] aaron-suarez commented on #301
The giant red callout says "no"

![Screen Shot 2021-12-17 at 3 26 00 PM](https://user-images.githubusercontent.com/2008701/146609863-a83346a4-5fee-4eb2-bf7e-3e7197189c62.png)

[2021-12-17 21:38] JudsonStevens commented on #102
Closing this as we've figured out a way to determine this without using Pybot. We'll be setting up an ETL process to grab updated data from the Slack API whenever needed.

[2021-12-17 21:38] #102 closed

[2021-12-17 21:43] #301 closed

[2021-12-30 20:40] JudsonStevens opened #358 "Rewrite - Change the logging behavior to log to Cloudwatch"
Currently we are strictly logging to standard output - we should switch to logging to Cloudwatch for anything higher than a development environment. This would impact staging and production.

An example method and configuration I've used for this before is below. If we use this configuration, it will standardize the output of the logs to include line numbers, environment, a datetime stamp, the fun

[2022-01-01 14:45] JudsonStevens commented on #337
Closing this as it's been handled in the rewrite. The field has been made required in the new mentorship request modal.

[2022-01-01 14:45] #337 closed

[2022-01-01 14:47] JudsonStevens commented on #336
Closing this as it's been handled in the bot rewrite. We're using a new View in Airtable for the Mentors table that only shows mentors who are `valid`, which includes having the `Active` checkbox checked. Also, if we find no mentors to match the passed in skillsets, we are just tagging the `@mentor-coordinators`.

[2022-01-01 14:47] #336 closed

[2022-01-01 14:51] JudsonStevens commented on #325
Closing this as it's been handled in the rewrite - we added in a more general functionality that can apply to any channel join request. For these specifically we included two new slash commands - `/join-pride` and `/join-blacks-in-tech` that send requests to the channel with an interactive button for someone to hit when/if they decide to invite the requestor. This also includes action tracking thr

[2022-01-01 14:51] #325 closed

[2022-01-01 14:59] JudsonStevens commented on #176
@aaron-suarez - after working on this a bit for the rewrite, I think 3x requests per month is probably a little low. How about 3x requests per week? In the last couple years I haven't seen this issue happen, so I'd rather make a higher limit and then lower it later if needed than a lower limit that we have to raise.

My current implementation is to have a new View on the Mentor Requests Airtable t

[2022-01-01 15:28] JudsonStevens commented on #167
I think this could be an interesting project to add into the rewrite. Looking at [this example for Discourse](https://meta.discourse.org/t/unformatted-code-detector-theme-component/112773) ([code here](https://github.com/discourse/unformatted-code-detector/)) I think we could translate this over to Python to fit into the bot. Alternatively we could just use the project in Javascript and have it ru

[2022-01-01 15:32] JudsonStevens commented on #167
Also, I tried Pygments and it was failing on some of the simpler examples I gave it, just detecting text - for example, this piece of text: `I am using these codes before it .Embed_length = 25 model = Sequential() model.add(Embedding(vocab_size, Embed_length, input_length=1000)) model.add(SpatialDropout1D(0.2)) model.add(LSTM(10, dropout=0.5, recurrent_dropout=0.5))` parsed as `<pygments.lexers.Te

[2022-01-01 15:33] JudsonStevens commented on #302
Closing this as it's been made part of the rewrite. We added in very similar text to this to the response sent to a user after a request.

[2022-01-01 15:33] #302 closed

[2022-01-01 23:36] JudsonStevens commented on #63
We've decided to go with a rewrite of the bot, so we're revisiting this one. We ended up going through the historical records of all the posts in `daily-programmer` and extracting into Airtable everything that matched the general posting pattern - that ended up getting us around 750 records. Moving forward, the bot will monitor posts into that channel and extract anything with the right format to

[2022-01-01 23:38] JudsonStevens commented on #189
Closing this in favor of #63 as we'll be adding very similar if not exactly this functionality.

[2022-01-01 23:38] #189 closed

[2022-01-01 23:39] JudsonStevens commented on #72
We'll be implementing this based on previous work into the new rewritten bot. This one is fairly low priority though so may take a bit.

[2022-01-01 23:52] JudsonStevens commented on #91
I think a good first step here would be to have an inventory of the currently open regional channels. From a quick scan of public channels, this is what I have:
- Austin-TX
- Boston
- Chicago
- ClevelandOhioVets
- Colorado
- Columbus_Ohio
- DC
- Deleware
- Denver
- DFW
- Florida
- Georgia
- Hartford_Western_MA
- Indiana
- Kansas_City
- Kentucky
- Los-Angeles
- Louisiana
- Maine
- Michigan
- Nashvi

[2022-01-01 23:59] JudsonStevens commented on #100
The way I could see this working is to have the message information stored in Airtable - so process messages across the entire team/workspace, grab the usernames, and maybe have a weighted system of points for channels? So posts in #help are worth more than posts in #random. Don't think we should get too crazy with it and just keep it very simple. To tie in Github information we would need to set

[2022-01-02 00:06] JudsonStevens commented on #110
Alright - if we have that information then I think we can work this one similar to the zip code one - we pull that information from the backend and for current users send them a DM with the relevant channels for their branch of service. For new users we auto-invite them to the relevant channels as well. The `admin` namespace for the Slack Web API has been moved to Enterprise only so we can use the

[2022-01-02 19:08] JudsonStevens opened #359 "Rewrite - Switch to Github Actions Instead of CircleCI"
With the progress made in Github Actions over the last few years, I think it makes sense to switch over to using that instead of CircleCI. This will eliminate another third party integration and it's an easy way to keep all of the functionality under one roof. Github Actions will allow us to replicate everything the current Circle CI configuration is doing, including pushing to AWS ECR.

[2022-01-02 19:08] JudsonStevens commented on #359
@aaron-suarez - how do you feel about switching to Github Actions? We'll need to discuss permissions to add secrets to the Github environment as I don't believe I have that access.

[2022-01-03 18:37] aaron-suarez commented on #359
I like the idea just fine. We use GitHub Actions for the front end if I'm not mistaken, so it's already a known thing around the org.

[2022-01-22 17:04] JudsonStevens commented on #63
I've scoped this down to the following capabilities:

- When a "manual" daily programmer is posted, as long as it has a line formatted as such: `== <Current Date> - Daily Programmer ===` the bot will pick it up
  - For example: `== Thursday January 20th 2022 - Daily Programmer ===`
  - The bot will check for a matching problem in Airtable
  - If there is a match, increment the posted count and upd

[2022-01-22 17:05] JudsonStevens opened #365 "Rewrite - Ensure the bot is handling sending invites to users for Slack"
The last main piece of functionality we need is to have the bot handle inviting new users who sign up at the website. We'll need to send them an invite to the Slack channel.

[2022-01-25 02:39] JudsonStevens opened #366 "Rewrite - Ensure we handle message changed and message deleted events"
We need to make sure we are handling the generic message changed and message deleted events. This is similar to https://github.com/OperationCode/operationcode-pybot/blob/17b738a869472781dcfb2ccf0021ee48f3ff39ae/pybot/endpoints/slack/messages.py#L71 in the current bot. We should be logging that the event happened.

[2022-03-15 18:17] JudsonStevens opened #383 "Add in `/moderators` command that will list the current moderators"
We should create a `/moderators` command that will list out the current moderators so folks can DM one individually if needed, and also know who is who. This should pull from an Airtable table that lists them out so it can easily be updated.